<%= form_with(model: note, class: "contents") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col my-4 text-xl">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex flex-col my-4 text-xl">
    <%= form.label :description %>
    <%= form.text_area  :description, rows:5, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="flex flex-col my-4 text-xl">
    <%= form.label :color, 'Select Color', class:"mt-2"%>
    <div class="flex gap-4 mt-2">
    <label class="flex items-center gap-1">
      <%= form.radio_button :color, 'bg-amber-200', class:'hidden'%>
      <div class="color-option bg-amber-200 h-7 w-7 rounded"></div>
    </label>

    <label class="flex items-center gap-1">
      <%= form.radio_button :color, 'bg-sky-200', class:'hidden'%>
      <div class="color-option bg-sky-200 h-7 w-7 rounded"></div>
    </label>

    <label class="flex items-center gap-1">
      <%= form.radio_button :color, 'bg-red-200', class:'hidden'%>
      <div class="color-option bg-red-200 h-7 w-7 rounded"></div>
    </label>

    <label class="flex items-center gap-1">
      <%= form.radio_button :color, 'bg-lime-200', class:'hidden'%>
      <div class="color-option bg-lime-200 h-7 w-7 rounded"></div>
    </label>

    <label class="flex items-center gap-1">
      <%= form.radio_button :color, 'bg-violet-200', class:'hidden'%>
      <div class="color-option bg-violet-200 h-7 w-7 rounded"></div>
    </label>
    </div>
  </div>


  <div class="inline">
    <%= form.submit class: "text-white border border-teal-700 bg-teal-700 ml-2 mt-3 rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium hover:bg-teal-800" %>
  </div>
<% end %>

<style>
  .color-option{
    cursor:pointer;
  }

  input[type="radio"]:checked + .color-option {
    border : 2px solid black;
  }
</style>