<div id="<%= dom_id note %>" class="border border-black rounded-md py-4  <%= note.color %> py-8">
  <p class="text-3xl px-4 font-sans">
    <%= note.title %>
  </p>

    <div class="border-t border-gray-700 mt-2  w-full bg-black"></div>
  <p class="text-base mt-3 px-4 font-sans">
    <%= note.description %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this note", note, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this note", edit_note_path(note), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
