<% if user_signed_in? && @notes.count > 0 %>
    <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8 py-4">
        <div id="notes" class="grid grid-cols-5 gap-6">
            <% @notes.each do |note| %>
                <%= link_to  note_path(note.id) do %>
            <div class="border border-black rounded-md p-4 <%= note.color %>">
                <p class="text-2xl"><%= note.title%></p>
                <p class="text-sm mt-1 text-gray-500"><%= note.created_at.strftime("%d %b")%></p>
                <p class="mt-2 text-gray-700"><%= note.description.truncate(300) %></p>
            </div>
        <% end%>
    <%end%>
  </div>
</div>

<% else %>
    <%= render 'home/landing' %>
<% end %>

